.button {
    width: 175px;
    height: 50px;
    border: 2px solid #fff;
    background-color: inherit;
    font-size: 20px;
    color: #fff;
    &:hover {
        color: red;
        background-color: rgba(255, 255, 255, 0.5);
    }
    &_header {
        margin-top: 55px;
    }
    &_get {
        margin-top: 50px;
        
    }
    &_form {
        margin-top: 20px;
        margin-right: 25px;
        color: rgba(0, 0, 0, 0.527);
        border: 1px solid rgba(0, 0, 0, 0.527);
        text-transform: uppercase;
        font-size: 17px;
        &:hover {
            color: #fff;
            background: red;
            border: none;
        }
    }
    &_works {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        width: 100px;
        height: 40px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color:rgba(235, 97, 97, 0.918);
            border: none;
            background-color: #fff;
            
        }
    }
}