.button {
    width: 175px;
    height: 50px;
    border: 2px solid #fff;
    background-color: inherit;
    color: #fff;
    &:hover {
        color: red;
        background-color: #fff;
    }
    &_header {
        margin-top: 55px;
    }
}