.clients {
    min-height: 475px;
    padding: 100px 0;
    background-color: #e4e3e1;
    text-align: center;
    color: rgba(0, 0, 0, 0.527);
    &__part{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &__text {
        margin-top: 65px;        
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        
    }
    &__info {
        margin-top: 45px;
        font-size: 20px;
        font-weight: 600;
    }
}